.gradient-custom-2 {
/* fallback for old browsers */
background: rgba(255, 255, 204, 0.5);

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #CCFFE5, rgba(136, 123, 138, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #CCFFE5, rgba(166, 193, 238, 1))
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.three {
  grid-column: 2;
  grid-row: 4;
}

.two {
  grid-column: 1;
  grid-row: 4;
}
.one {
  grid-column: 1 / 2;
  grid-row: 2;
}
.four {
  grid-column: 2 / 4;
  grid-row: 2;
}
.five {
  grid-column: 1;
  grid-row: 3;
}
.six {
  grid-column: 2;
  grid-row: 3 ;
}


.seven {
  grid-column: 1 / 2;
  grid-row: 1;
}
.eight {
  grid-column: 2 / 4;
  grid-row: 1;
}


.mask-custom-1 {
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, .2);
  border-radius: 3em;
  border: 2px solid rgba(255, 255, 255, .1);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

@media (max-width: 767px) {
  .bg-image {
    height: 1400px !important;
  }
}

li {
	font-size: 12px;
}
